@font-face {
    font-family: HarryPotter;
    src: url("HARRP___.TTF");
}

html {
    background: darkgrey;
    font-family: HarryPotter, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 1em;
    font-size: 3em;
}

h2 {
    font-weight: 100;
    font-size: 2em;
}


p {
    font-weight: 200;
    font-size: 1.5em;
}

header img {
    display: block;
    margin: 0 auto;
    width: 30%;
}

.dropdown {
    text-align: center;
}

select {
    font-size: 1.5em;
}

.studentos {
    border: 10px groove #ffc500;
    background: black;
    margin: 1em 1em;
    cursor: pointer;
}


ul {
    padding-left: 0;
}

.list {
    display: grid;
}

.list h2 {
    margin: auto;
    height: auto;
    padding: 1em 0.5em;
    color: #ffc500;
    text-align: center;
}

.list p {
    margin: auto;
    padding: 1em 0;
    text-align: center;
    vertical-align: middle;
    color: #ffc500;
}

img {
    max-width: 100%;
}

#content .studentos {
    margin: 0 auto;
    position: fixed;
    width: 80%;
    height: 70%;
    top: 14vh;
    left: 9vw;
    overflow: hidden;
}

#content .studentos h2,
p {
    margin: auto;
    height: auto;
    padding: 1em 0.5em;
    font-weight: 100;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .list {
        grid-template-columns: auto auto;

    }
}

@media only screen and (min-width: 1260px) {
    .list {
        grid-template-columns: auto auto auto;

    }
}
